
backend/.env

sbackend/node_modules/

sbackend/.cache/

frontend/page.vue

backend/

sbackend/config/

sbackend/.strapi-updater.json

laravel/

sbackend/build/
frontend/middleware/defaultCity.js
sbackend/middlewares/graphlogs/index.js
